name: Build JoshInBrackets.com
on:
  push:
    branches: [ main ]
  # pull_request:
  #   branches: [ main ]

jobs:
  build-site:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: Bogdanp/setup-racket@v1.8.1
        with:
          architecture: 'x64'
          distribution: 'full'
          variant: 'CS'
          version: '8.5'
      - run: raco pkg install --auto markdown
      - run: scribble --dest output ++style src/custom.css --htmls scribble/main.scrbl
      - name: Deploy to DH
        env:
          CXAN_TOKEN: ${{ secrets.CXAN_TOKEN }}
        run: |
          cd output/main
          zip -r ../o.zip *
          cd ..
          curl https://cxan.kdr2.com/scripts/fm.php -F token=${CXAN_TOKEN} \
          -F file=@o.zip -F dest=:/home/kdr2/backup/jib.zip \
          -F unzip=:/home/kdr2/joshinbrackets
      - name: Deploy to Github
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: output/main
          branch: pages
          clean: true
          force: true
